// Tabler Icons v3.35.0
@font-face {
  font-family: 'tabler-icons-outline';
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/tabler-icons-outline.woff2") format("woff2"),
       url("chrome-extension://__MSG_@@extension_id__/fonts/tabler-icons-outline.woff") format("woff"),
       url("chrome-extension://__MSG_@@extension_id__/fonts/tabler-icons-outline.ttf") format("truetype");
}

.ti {
  font-family: 'tabler-icons-outline' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}